.header {
  position: sticky;               /* 상단 고정 */
  top: 0;
  z-index: 1000; 

  padding: 0 25px;
  height: 100px; 
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.75); /* 반투명 흰색 */
  backdrop-filter: blur(2px);                 /* 배경 흐림 효과 */

  box-shadow: 0px 4px 10px 5px rgba(233, 233, 233, 0.25);
  box-sizing: border-box;
}
  
  .logo {
    height: 85px;
    width: auto;
    transform: translateY(-4px);    
    cursor: pointer;
    filter: drop-shadow(0 4px 8px #fffb839f);
  }
  
  .nav {
    display: flex;
    gap: 40px;
    margin-right: 30px;
  }
  
  .link {
    cursor: pointer;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: underline;
  }
  
  /*모바일 */
  @media (max-width: 600px) {
    .header {
      padding: 0 16px;
      height: 80px; 

      background-color: rgba(255, 255, 255, 0.75); 
      backdrop-filter: blur(6px);
    }
  
    .logo {
      height: 50px;
    }
  
    .nav {
      gap: 10px;
    }
  
    .link {
      font-size: 14px;
      white-space: nowrap; 
    }
  }