body {
  background-color:rgb(242, 249, 255);
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; 
  width: 100%;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0px 6px 10px rgba(245, 255, 54, 0.15));
}

.sub-title {
  font-family: 'Jaro', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px; 
  line-height: 1.4;
  background: linear-gradient(to top, rgba(255, 253, 201, 0.6) 40%, transparent 40%);
}

.main-buttons {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0;
  align-items: flex-start;
  padding: 0 16px;
}

.main-buttons button {
  padding: 14px 24px;
  font-size: 20px;
  cursor: pointer;

  border-radius: 15px;
  background: #1E1759;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  width: 300px;
  height: 60px;

  color: #FFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-buttons button:hover {
  background-color: #150f40;
  transform: translateY(-2px);
}

/* 둥둥 떠다니게 */
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* 모바일*/
@media (max-width: 600px) {
  .main-content {
    flex-direction: column;
    padding: 32px 16px;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
  }

  .logo-box {
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .logo-image {
    width: 95%;
    max-width: 400px;
    animation: float 3s ease-in-out infinite;
  }

  .sub-title {
    font-size: 20px;
    margin-top: 15px;
  }

  .main-buttons {
    width: 80%;
    height: 100px;
    max-width: 100%;
    min-width: 220px;
    align-items: center;
    margin: 0;
  }

  .main-buttons button {
    width: 100%;
    max-width: 100%;
    font-size: 15px;
    padding: 12px 20px;
  }
}
