* {
  box-sizing: border-box;
}

.profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 16px;
}

.profile-content h2 {
  width: 100%;
  max-width: 800px;
  text-align: left;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.profile-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background: #fffefe;
  margin-bottom: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  gap: 24px;
}

.profile-box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  gap: 6px;
}

.profile-info strong {
  font-size: 24px;
  font-weight: 600;
}

.favorites-box {
  width: 100%;
  max-width: 800px;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background: #fffefe;
  margin-bottom: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.favorites-box ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.favorites-box li {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0;
  color: #333;
}
.building-list{
  width: 100%;
  max-width: 800px;
}

/* 모바일*/
@media (max-width: 600px) {
  .profile-box {
    padding: 20px;
  }

  .profile-box img {
    width: 100px;
    height: 100px;
  }

  .profile-info {
    font-size: 16px;
  }

  .profile-info strong {
    font-size: 20px;
  }

  .favorites-box li {
    font-size: 16px;
  }
}
